Source: ros-noetic-cartesian-trajectory-controller
Section: misc
Priority: optional
Maintainer: Stefan Scherzinger <scherzin@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-cartesian-interface, ros-noetic-cartesian-trajectory-interpolation, ros-noetic-catkin, ros-noetic-control-msgs, ros-noetic-controller-manager, ros-noetic-controller-manager-msgs, ros-noetic-hardware-interface, ros-noetic-joint-state-controller, ros-noetic-joint-trajectory-controller, ros-noetic-kdl-parser, ros-noetic-pluginlib, ros-noetic-robot-state-publisher, ros-noetic-ros-control-boilerplate, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-rostest, ros-noetic-speed-scaling-interface, ros-noetic-trajectory-msgs, ros-noetic-xacro
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-cartesian-trajectory-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cartesian-interface, ros-noetic-cartesian-trajectory-interpolation, ros-noetic-controller-interface, ros-noetic-controller-manager, ros-noetic-hardware-interface, ros-noetic-kdl-parser, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-speed-scaling-interface
Description: A Cartesian trajectory controller with multiple hardware interface support
