Source: ros-melodic-cartesian-interface
Section: misc
Priority: optional
Maintainer: Felix Exner <mauch@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-hardware-interface, ros-melodic-roscpp, ros-melodic-rosunit
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-cartesian-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-hardware-interface, ros-melodic-roscpp
Description: Defines a hardware interface to send Cartesian commands to a robot hardware and read Cartesian states.
