Source: ros-noetic-cartesian-interface
Section: misc
Priority: optional
Maintainer: Felix Exner <mauch@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-roscpp, ros-noetic-rosunit
Homepage: http://wiki.ros.org/cartesian_interface
Standards-Version: 3.9.2

Package: ros-noetic-cartesian-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-roscpp
Description: Defines a hardware interface to send Cartesian commands to a robot hardware and read Cartesian states.
